<mat-toolbar>
  <mat-toolbar-row>
    <a class="logo" routerLink="/">
        <img src="./assets/img/logo.png">
    </a>
    <div class="menu-links">
        <!-- <a mat-button href="#" target="_blank">Jogos</a>
        <a mat-button href="#" target="_blank">Protifólio</a>
        <a mat-button href="#" target="_blank">Contato</a> -->
        <a mat-button routerLink="/jogos">Jogos</a>
        <a mat-button routerLink="/protifolio">Protifólio</a>
        <a mat-button routerLink="/contato">Contato</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
